header {
    max-height: 70%;
    background-color: #5db9ff;
    padding: 2%;
}
.nav-home {
    background-color: #fbd743;
    border: 2px solid #363b81;
    border-radius: 5%;
    justify-content: space-between;
    float: right;
    max-width: 150px;
    padding: 1%;
}

h1 {
    color: #ff1f1f;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-decoration: none;
}
