.display-results ul {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fit, minmax( 200px, 1fr));
    background-color: #5db9ff;
    row-gap: 3%;
    column-gap: 1%;
    text-decoration: none;
}